.title {
  font-size: 6vmin;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7vmin;
  margin-bottom: 3vmin;
}

.text {
  word-spacing: 3px;
  line-height: 1.3;
  font-size: 3.5vmin;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5vmin;
  position: relative;
}

.scroll-message {
  color: rgb(95, 95, 95);
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
  transition: 2s;
  pointer-events: none;
}

.glow {
  color: white;
  transition: 2s;
}

.hide {
  transition: 0.2s;
  opacity: 0;
}

.contPage1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
